################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trab2/.vs/Trab2/v16/ipch/AutoPCH/9bb55adeb096a6ba/CONTROLADORAS.ipch
